
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 1440px;
    border: 1px solid black;
}

.nav-ul {
    display: flex;
    list-style: none;
    width: 478px;
    height: 18px;
    margin-top: 38px;
    margin-left: 796px;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 165px;
}
.nav-ul li {
    padding: 25px;
    color: red;
    font-family: "Open Sans";
    font-weight: bold;
}

.header-logo {
    margin-left: 165px;
    font-size: 48px; 
    color: red;
    font-family: "Impact", sans-serif;
}
.background {
    background-image: url(img/img1.png);
}
.banner {
    width: 1440px;
    height: 544px;
    margin-bottom: 141px;
    justify-content: center;
    align-items: center;
}
.spring {
    width: 796px;
    height: 30px;
    border: 1px solid white;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.up {
    width: 1098px;
    height: 60px;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    color:white;
    font-size: 40px;
    text-transform: uppercase;
}

